@import 'base';

.widget {
  border-radius: 3px;
  color: $main-white;
  margin: 10px 0;
  padding: 5px;

  i {
    margin-top: 22px;
  }
}

.widget-orange {
  background-color: bifrost(oranges, bittersweet);
}

.widget-blue {
  background-color: bifrost(blues, baliHai);
}

.widget-red {
  background-color: bifrost(reds, cinnabar);
  color: $main-white;
}

.widget-yellow {
  background-color: bifrost(yellows, sweet-corn);
}

.widget-green {
  background-color: bifrost(greens, feijoa);
}

.widget-black {
  background-color: bifrost(blacks, oil);
}
