@import 'mq';

.app-nav {
  background-color: bifrost(blacks, oil);

  .nav-links {
    @include list-nav();
    padding: 20px 0;
    margin-left: 30px;
  }

  .nav-btn {
    @extend %btn;
    @include btn-sm();
    @include btn-color(bifrost(reds, jasper), bifrost(reds, cinnabar));
    margin-left: 50px;
  }
}

.widget {
  @extend %clearfix;
  border-radius: 3px;
  margin: 15px 20px;
  transition: all .2s ease-in-out;

  .row-1 {
    padding-top: 20px;
  }
}

.widget-orange {
  background-color: bifrost(oranges, bittersweet);

  &:hover {
    background-color: darken(bifrost(oranges, bittersweet), 10%);
  }
}

.widget-blue {
  background-color: bifrost(blues, baliHai);

  &:hover {
    background-color: darken(bifrost(blues, baliHai), 10%);
  }
}

.widget-red {
  background-color: bifrost(reds, cinnabar);

  &:hover {
    background-color: darken(bifrost(reds, cinnabar), 10%);
  }
}

.widget-yellow {
  background-color: bifrost(yellows, sweetCorn);

  &:hover {
    background-color: darken(bifrost(yellows, sweetCorn), 10%);
  }
}

.widget-green {
  background-color: bifrost(greens, feijoa);

  &:hover {
    background-color: darken(bifrost(greens, feijoa), 10%);
  }
}

.widget-black {
  background-color: bifrost(blacks, oil);

  &:hover {
    background-color: darken(bifrost(blacks, oil), 10%);
  }
}
